.signin {
    width: 90px;
    height: 20px;
    padding: 8px 15px;
    color: white;
    background: #d11bb6;
    font-size:18px;
    cursor: pointer;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.signin:hover {
    background-image: -webkit-linear-gradient(top, #d11bb6, #cf1dcf);
    background-image: -moz-linear-gradient(top, #d11bb6, #cf1dcf);
    background-image: -ms-linear-gradient(top, #d11bb6, #cf1dcf);
    background-image: -o-linear-gradient(top, #d11bb6, #cf1dcf);
    background-image: linear-gradient(to bottom, #d11bb6, #cf1dcf);
}